.container {
    /* display: flex;
    flex: 1; */
    justify-content: 'center';
    margin-top: 4%;
}

.card {
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
}

.icons {
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-title {
    margin-right: 3%;
}